
.foto{
    margin-left: 26%;
    
}
h5{
    margin-left: 15px;
    font-size: 25px;
    color: white;
}
p{
    margin-left: 360px;
    margin-right: 365px;
    font-size: 20px;
    font-family: arial;
    
}
h6{
    color:black;
    text-align: center;
    font-size: 30px;
}
.jamesh{
    margin-left: 436px;
}
.lebronj{
    margin-left: 436px;
}
.golden{
    margin-left: 436px;
}
.denver{
    margin-left: 436px;
}
.giannis{
    margin-left:  436px;
}
