h6{
    color:black;
    text-align: center;
    font-size: 30px;
}
iframe{
    margin-left: 21%;

}
h1{

        color:black;
        text-align: center;
}

p{
    text-align: center;
    font-family: arial;
}
H5{
    margin-left: 15px;
    font-size: 25px;
    color: white;
}