.uni1{
    margin-left: 280px;
}
h1{

    color:black;
    text-align: center;
}
.cr25{
    margin-left: 280px;
}
p{
    margin-left: 300px;
margin-right: 303px;
font-size: 20px;
font-family: arial;
}
.toronto{
    margin-left: 280px;
}
.new{
    margin-left: 280px;
}
.war{
    margin-left: 280px;
}
H6{
    color: white;
    font-size: 25px;
    margin-left: 15px;
}

